* {
  margin: 0px;
  padding-top: 0vw;
  padding-bottom: 0vw;
  background-color: #282C34;
  border: blue 1px solid;
}

html {
  background-color: #E06C75;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style-type: none;
}

p {
  color: #ABB2BF;
}

a:hover {
  background-color: #E06C75;
}

/*
#ABB2BF
#5C6370
#3E4452
#282C34
#E06C75
#BE5046
#98C379
#E5C07B
#D19A66
#61AFEF
#C678DD
#56B6C2
*/

li {  list-style-type: none;}

.entire-site-container {
  width: 80vw;
  /* min-height: 50px; */
  height: 90vh;
  /* border: lightblue 2px solid; */
  display: grid;
  /* grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 2fr 1fr 1fr; */
  grid-template-columns: 60vw 20vw;
  grid-template-rows: 1.9em 200px 10vh 20vh auto 10vh;

  /* grid-template-rows: 1fr 3fr 1fr 2fr 1fr 1fr; */
  grid-template-areas:
    "top-nav top-nav"
    "picture picture"
    "main brief"
    "main bio"
    "main contact"
    "footer footer"
}

/* .entire-site-container > * {

} */

.nav {
  grid-area: top-nav;
}

.nav, .nav * {
  background-color: #61AFEF;
  margin: 0px;
  padding: 0px;

}

.nav ul {
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.five_columns {
  background-color: lime;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding-right: 8%;
  padding-left:  8%;
  text-align: center;
}


.nav li {
  padding-top: 2px;
  padding-bottom: 2px;
  border: #61AFEF 1px solid;
  align-self: center;
  min-width: 10vw;
  text-align: center;
}


.picture-main  {
  grid-area: picture;
  background: url(../images/codepic.png);
  background-repeat: no-repeat;
   background-size: cover;
}

.content-main  {
  grid-area: main;
  font-size: 1em;
}

.brief-bio  {
  grid-area: brief;
}

.longer-bio  {
  grid-area: bio;
}

.contact-info  {
  grid-area: contact;
}

.footer-area  {
  grid-area: footer;
}
